.description {
  margin: 0;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .description {
    padding-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .description {
    padding-top: 30px;
  }
}
