.footer__column_content_copyright {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 711px;
  flex-basis: 711px;
}

@media screen and (max-width: 1279px) {
  .footer__column_content_copyright {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 767px) {
  .footer__column_content_copyright {
    grid-area: copyright;
    align-items: center;
  }
}
