.logo_place_footer {
  background-image: url(../../../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .logo_place_footer {
    height: 60px;
  }
}
