.logo_place_header {
  background-image: url(../../../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

@media screen and (max-width: 1023px) {
  .logo_place_header {
    left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .logo_place_header {
    margin-top: 20px;
    position: static;
    grid-area: logo;
  }
}
