.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2F80ED;
}

@media screen and (max-width: 1023px) {
  .feynman__link {
    top: 25%;
  }
}

@media screen and (max-width: 767px) {
  .feynman__link {
    font-size: 20px;
    line-height: 1;
    right: 20px;
    top: 30%;
  }
}
