.cards__item {
  margin: 0;
  list-style-type: none;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cards__item {
    width: 100%;
    margin: 0;
  }
}
