.two-columns__main-text {
  margin-left: auto;
  right: 0;
  width: 80%;
}

@media screen and (max-width: 1279px) {
  .two-columns__main-text {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .two-columns__main-text {
    margin: 0;
    width: 100%;
  }
}
