.form__close {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  padding: inherit;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.form__close:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
