.two-columns {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .two-columns {
    width: calc(100% - 2 * 20px);
  }
}

@media screen and (max-width: 767px) {
  .two-columns {
    flex-direction: column;
  }
}
