.header__title {
  margin: 0 0 0 64px;
  max-width: 730px;
  z-index: 3;
  font-size: 102px;
  line-height: 96px;
}

@media screen and (max-width: 1279px) {
  .header__title {
    max-width: 400px;
    font-size: 50px;
    line-height: 1;
  }
}

@media screen and (max-width: 1023px) {
  .header__title {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    margin: 0;
    grid-area: title;
    font-size: 30px;
  }
}
