.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
}

@media screen and (max-width: 1279px) {
  .khan__buy-link {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .khan__buy-link {
    margin: 20px 0;
  }
}
